body {
 
}

.container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
  background-size: cover; /* Adjust the image size to cover the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-color: #fff; /* White background for the form container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image:url("./00_generic_facebook-001.jpg");
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
label{
  color: ghostwhite;
}

label:hover::after {
  transform: scaleX(1); /* Expand the line width on hover */
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

button {
  background-color: #0099cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #33ccff; /* Light blue on hover */
}

a {
  color: #0099cc;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
